# Server Port
PORT=5000

# Client Frontend URL for CORS (e.g., https://your-site.netlify.app or *)
CLIENT_URL="*"

# PostgreSQL Connection String (Neon / Supabase / Render)
DATABASE_URL="postgresql://user:password@ep-xyz.neon.tech/neondb?sslmode=require"

# JWT Secret for Admin Auth
JWT_SECRET="portfolio-super-secret-key-12345"

# Cloudinary Credentials (for image & CV PDF upload)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
